body,
html,
ul,
li {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
.box {
  width: 380px;
  height: 114px;
  background-color: pink;
  background: url(../image/myicon.jpg);
  background-size: 100%;
}
.x {
  width: 500px;
  height: 500px;
  background-color: cyan;
  background: url(../image/3.jpeg);
}
